.so-widget-sow-image-default-5d815b41a56e .widget-title {
  text-align: left;
}
.so-widget-sow-image-default-5d815b41a56e .sow-image-container .so-widget-image {
  display: block;
  max-width: 100%;
  width: inherit;
  height: auto;
}